In [1]:
from sklearn.model_selection import StratifiedShuffleSplit
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
train_data = pd.read_csv('csv_files/train_sent_emo.csv')

In [5]:
train_data['Utterance'] = train_data['Utterance'].str.replace('\x92', "'", regex=False)

In [6]:
train_data.head()

,Sr No.,Utterance,Speaker,Emotion,Sentiment,Dialogue_ID,Utterance_ID,Season,Episode,StartTime,EndTime
0,1,also I was the point person on my company's tr...,Chandler,neutral,neutral,0,0,8,21,"00:16:16,059","00:16:21,731"
1,2,You must've had your hands full.,The Interviewer,neutral,neutral,0,1,8,21,"00:16:21,940","00:16:23,442"
2,3,That I did. That I did.,Chandler,neutral,neutral,0,2,8,21,"00:16:23,442","00:16:26,389"
3,4,So let's talk a little bit about your duties.,The Interviewer,neutral,neutral,0,3,8,21,"00:16:26,820","00:16:29,572"
4,5,My duties? All right.,Chandler,surprise,positive,0,4,8,21,"00:16:34,452","00:16:40,917"